.time {
    color:red;
    font-weight:bold;
}
:root {
    
     --md-accent-fg-color: #ff69b4;
     --md-primary-fg-color: #ffb6c1;
     --md-primary-fg-color--light: #ffc9e6;
     --md-primary-fg-color--dark: #e47fb5;
    --md-default-bg-color: #fff0f6;
}
